@media only screen and (max-width: 1024px){
	body {margin: 0; padding: 0;} 
	#wrapper {width: auto;}
	h1,h2 { font-size:100%;}
	#top nav {float: none;
					width: auto;
					margin-top: 0;}
	#top nav ul {padding-left: 0;
						text-align: center;
						padding-top:0;}
	#form{margin:auto;}
	#form1{float:none;
				margin:auto;}
	#form2{float:none;
				margin:auto;}
}